---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<div class="min-h-screen flex flex-col justify-center items-center">
		<h1 class="font-maname text-7xl sm:text-9xl">Wooster</h1>
		<h3 class="mt-4 text-xl sm:text-2xl">A new email client for iOS</h3>
	</div>
	</body>
</html>
